[Unit]
Description=Karby
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/karby

User=karby
Group=karby

Environment="APP_ENV=production"
Environment="LOGS_DIR=/home/karby/logs"
Environment="BIND_ADDRESS=0.0.0.0"
Environment="BIND_PORT=80"
ExecStart=/bin/ruby /home/karby/karby.rb

Restart=always

[Install]
WantedBy=multi-user.target