[Unit]
Description=Karby
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/karby

User=karby
Group=karby

Environment="APP_ENV=production"
Environment="PRE_AGGREGATION_DIR=/home/karby/temp"
Environment="POST_AGGREGATION_DIR=/home/karby/logs"
Environment="BIND_ADDRESS=0.0.0.0"
Environment="BIND_PORT=8080"

ExecStart=ruby /home/karby/karby-server.rb
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target